
DeepSeaDiscoveries/.mono/assemblies/Debug/api_hash_cache.cfg
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharp.dll
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharp.pdb
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharp.xml
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharpEditor.dll
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharpEditor.pdb
DeepSeaDiscoveries/.mono/assemblies/Debug/GodotSharpEditor.xml
DeepSeaDiscoveries/.mono/assemblies/Release/api_hash_cache.cfg
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharp.dll
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharp.pdb
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharp.xml
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharpEditor.dll
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharpEditor.pdb
DeepSeaDiscoveries/.mono/assemblies/Release/GodotSharpEditor.xml
DeepSeaDiscoveries/.mono/metadata/ide_messaging_meta.txt
DeepSeaDiscoveries/.mono/metadata/scripts_metadata.editor
DeepSeaDiscoveries/.mono/metadata/scripts_metadata.editor_player
DeepSeaDiscoveries/.mono/temp/bin/Debug/Deep Sea Discoveries.dll
DeepSeaDiscoveries/.mono/temp/bin/Debug/Deep Sea Discoveries.pdb
DeepSeaDiscoveries/.mono/temp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.AssemblyInfo.cs
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.AssemblyInfoInputs.cache
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.assets.cache
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.csproj.CoreCompileInputs.cache
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.csproj.FileListAbsolute.txt
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.csprojAssemblyReference.cache
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.dll
DeepSeaDiscoveries/.mono/temp/obj/Debug/Deep Sea Discoveries.pdb
DeepSeaDiscoveries/.mono/temp/obj/Deep Sea Discoveries.csproj.nuget.dgspec.json
DeepSeaDiscoveries/.mono/temp/obj/Deep Sea Discoveries.csproj.nuget.g.props
DeepSeaDiscoveries/.mono/temp/obj/Deep Sea Discoveries.csproj.nuget.g.targets
DeepSeaDiscoveries/.mono/temp/obj/project.assets.json
DeepSeaDiscoveries/.mono/temp/obj/project.nuget.cache
DeepSeaDiscoveries/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.stex
DeepSeaDiscoveries/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
DeepSeaDiscoveries/.vs/Deep Sea Discoveries/v16/.suo
DeepSeaDiscoveries/.vs/Deep Sea Discoveries/DesignTimeBuild/.dtbcache.v2
